.product {
    width: 300px;
    margin: 10px;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > img {
    height: 170px;
    border-radius: 10px;
}

.product-info > p {
    margin-bottom: 8px;
    margin-left: 8px;
}

.info-price {
    font-weight: bold;
}

.info-name {
    font-size: 1rem;
    overflow: hidden;
}

.info-description {
    font-size: 0.8rem;
}

.info-button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background: white;
    padding: 8px 16px;
    border: 1px solid grey;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.info-button:hover {
    background: cadetblue;
    color: white;
    border: 1px solid white;
}

@media (max-width: 630px){
    .products {
        width: 360px;
    }
}