.sidedrawer{
    width:60%;
    height: 100vh;
    background: white;
    position: fixed;
    top:0;
    left:0;
    z-index:200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidedrawer.show{
    transform: translateX(0);
}

.sidedrawer-links{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidedrawer-links > li {
    display: flex;
    align-items: center;
}

.sidedrawer-links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.sidedrawer-links > li > a:hover {
    background: cadetblue;
}

.sidedrawer-links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.siderawer-badge {
    width: 25px;
    height: 25px;
    background: rgb(206, 206, 206);
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-left: 10px;
}

@media (min-width: 960px) {
    .sidedrawer {
        display: none;
    }
}