.productscreen{
    max-width: 13000px;
    margin: 1rem auto;
    display:flex;
    background: rgb(143, 181, 182);
}

.product-left{
    display: flex;
    flex: 0.8;
}

.left-image {
    margin: 1rem;
    flex: 0.6;
}

img{
    border-radius: 2%;
}

.left-info {
    margin: 1rem;
    flex: 0.4;
    background: white;
    height: fit-content;
    font-size: 0.9rem;
}

.left-name{
    font-weight: bold;
    font-size: 1.3rem;
}

.left-info > p,
.right-info > p {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.left-info > p:last-chind,
.right-info > p:last-chind {
    border: none;
}

.product-right {
    flex: 0.2;
}

.right-info {
    width: 250px;
    margin: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.right-info p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.right-info p > button {
    grid-column: 1/-1;
    padding: 10px 16px;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background: white;
    padding: 8px 16px;
    border: 1px solid grey;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}

.right-info p > button:hover {
    background: cadetblue;
    color: white;
    border: 1px solid white;    
}

.right-info select {
    padding: 10px 16px;
}

@media (max-width: 960px) {
    .productscreen {
        flex-direction:column;
    }

    .product-left {
       flex-direction: column;
       flex: 1;
    }
    
    .left-image {
        flex:1;
    }

    .left-info {
        flex:1;
    }

    .product-right{
        flex:1;
        padding: 1rem;
    }

    .right-info{
        width: 100%;
        margin: 0;
    }
}